{
    "openapi": "3.0.1",
    "info": {
        "title": "TalanginDong API Documentation",
        "version": "1.0.0",
        "description": "Contact: icarusphantom (discord)\n# Introduction\nWelcome to the TalanginDong API Documentation page!<br>Here you can find information on all the endpoints we have, and how to use them.\n\nThe main API URL is `https://talangindong-api.icarusphantom.dev/`\n## Limits\nSome API endpoints are limited to a maximum amount of requests per 1 minute intervals. If you want increased rate limit, please contact the developer.\n\nEndpoints will respond with headers to assist with managing the rate limit:\n- 'RateLimit-Limit' - The limit of requests per minute.\n- 'RateLimit-Remaining' - The remaining amount of requests allowed for the current minute.\n- 'RateLimit-Reset' - The amount of seconds until the next minute and the reset of the API usages.",
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://talangindong-api.icarusphantom.dev/"
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication endpoint for TalanginDong mobile application"
        },
        {
            "name": "Friend",
            "description": "Friend endpoint for TalanginDong mobile application"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "jwt"
            }
        },
        "responses": {
            "SuccessNoData": {
                "description": "A successful response",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 200
                                }
                            }
                        }
                    }
                }

            },
            "BadRequest": {
                "description": "Bad request because of missing required data or other thing",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 400
                                },
                                "code": {
                                    "type": "string",
                                    "example": "BAD_REQUEST"
                                },
                                "reason": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "NotAuthorized": {
                "description": "Invalid authorization token",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 401
                                },
                                "code": {
                                    "type": "string",
                                    "example": "UNAUTHORIZED"
                                },
                                "reason": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "NotFound": {
                "description": "The requested data was not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 404
                                },
                                "code": {
                                    "type": "string",
                                    "example": "NOT_FOUND"
                                },
                                "reason": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "Conflict": {
                "description": "Conflict when inserting data",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 409
                                },
                                "code": {
                                    "type": "string",
                                    "example": "CONFLICT"
                                },
                                "reason": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "InternalServerError": {
                "description": "An unknown error that happened server side",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "integer",
                                    "example": 500
                                },
                                "code": {
                                    "type": "string",
                                    "example": "INTERNAL_SERVER_ERROR"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "stack": {
                                    "type": "string",
                                    "nullable": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "schemas": {
            "example1": {
                "properties": {
                    "_id": {
                        "type": "string",
                        "format": "objectid"
                    },
                    "purchaserUuid": {
                        "type": "string",
                        "format": "uuid",
                        "example": "ad8fefaa8351454bb739a4eaa872173f"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "start": {
                        "type": "number",
                        "format": "int64"
                    },
                    "originalLength": {
                        "type": "integer"
                    },
                    "dateActivated": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "coop": {
                        "description": "The cute name of the profile, only provided on the profiles endpoint",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    "action": {
                        "type": "string",
                        "enum": [
                            "DEPOSIT",
                            "WITHDRAW"
                        ]
                    },
                    "color": {
                        "description": "The color metadata to be applied to an item, usually leather armor pieces",
                        "pattern": "^(?:(?:^|,\\s*)([01]?\\d\\d?|2[0-4]\\d|25[0-5])){3}$",
                        "type": "string",
                        "example": "255,215,0"
                    }
                }
            },
            "example2": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/example1"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "stacked": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                    "type": "string",
                                    "description": "UUID of the player in a dashed format",
                                    "format": "uuid",
                                    "example": "ad8fefaa-8351-454b-b739-a4eaa872173f"
                                }
                            },
                            "stacked2": {
                                "type": "boolean",
                                "nullable": true
                            }
                        }
                    }
                ]
            },
            "example3": {
                "description": "Information about a specific game. When a field is not present you should fallback to the provided default if there is one, required fields will always exist.",
                "required": [
                    "id",
                    "name",
                    "databaseName"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The backend ID of the game.",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "The display name of the game.",
                        "example": "Bed Wars"
                    },
                    "databaseName": {
                        "type": "string",
                        "description": "The key used for database storage, such as for stats.",
                        "example": "Bedwars"
                    },
                    "legacy": {
                        "type": "boolean",
                        "description": "True if the game is legacy and part of the Classic Lobby.",
                        "default": false
                    }
                }
            }
        }
    },
    "paths": {
        "/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register",
                "description": "Endpoint for registering new account.",
                "operationId": "signup",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Endpoint for login account.",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "refreshToken": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/auth/refresh-token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh Token",
                "description": "Endpoint for refreshing token.",
                "operationId": "refreshToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "refreshToken": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/list": {
            "get": {
                "tags": [
                    "Friend"
                ],
                "summary": "Friend List",
                "description": "Endpoint for getting friend list.",
                "operationId": "list",
                "security": [{
                    "bearerAuth": []
                }],
                "responses": {
                    "200": {
                        "description": "A successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/search": {
            "get": {
                "tags": [
                    "Friend"
                ],
                "summary": "Search Friend",
                "description": "Endpoint for searching friend.",
                "operationId": "search",
                "security": [{
                    "bearerAuth": []
                }],
                "parameters": [
                    {
                        "in": "query",
                        "name": "search",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/pending": {
            "get": {
                "tags": [
                    "Friend"
                ],
                "summary": "Pending Friend Request",
                "description": "Endpoint for getting list of pending friend request.",
                "operationId": "pending",
                "security": [{
                    "bearerAuth": []
                }],
                "responses": {
                    "200": {
                        "description": "A successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "integer",
                                                        "enum": [
                                                            0,
                                                            1
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/request": {
            "post": {
                "tags": [
                    "Friend"
                ],
                "summary": "Request friend",
                "description": "Endpoint for requesting friend.",
                "operationId": "request",
                "security": [{
                    "bearerAuth": []
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "recipientId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/accept": {
            "put": {
                "tags": [
                    "Friend"
                ],
                "summary": "Accept Friend Request",
                "description": "Endpoint for accepting friend request",
                "operationId": "accept",
                "security": [{
                    "bearerAuth": []
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requesterId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/cancel": {
            "delete": {
                "tags": [
                    "Friend"
                ],
                "summary": "Cancel Friend Request",
                "description": "Endpoint for cancelling friend request.",
                "operationId": "cancel",
                "security": [{
                    "bearerAuth": []
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "recipientId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/reject": {
            "delete": {
                "tags": [
                    "Friend"
                ],
                "summary": "Reject Friend Request",
                "description": "Endpoint for rejecting friend request.",
                "operationId": "reject",
                "security": [{
                    "bearerAuth": []
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requesterId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/v1/friend/remove": {
            "delete": {
                "tags": [
                    "Friend"
                ],
                "summary": "Remove Friend",
                "description": "Endpoint for removing friend.",
                "operationId": "remove",
                "security": [{
                    "bearerAuth": []
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "friendId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/SuccessNoData"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/NotAuthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        }
    }
}